{# templates/circuitshow.html.twig #}

{% set active = 'circuit' %}
	{% extends "baselayout.html.twig" %}
	{% block title %}{{ parent() }} - Circuit{% endblock %}

		{% block body %}
			<div class="row">
				<div class="col-lg-3">
					<a href="/circuit" class="btn btn-default" ><span class="glyphicon glyphicon-menu-left"></span> Retour à la liste des circuits</a><br>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<h1 class="text-left page-header">{{ circuit.description }}</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8">
					{% if img is not null %}
						<img class="img-responsive img-rounded" src="/images/{{ img }}" alt="{{ circuit.description }}">
					{% endif %}
				</div>
				<div class="col-lg-4">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h2 class="panel-title">Détails du voyage</h2>		
						</div>
						<div class="panel-body">
							<p class="text-justify">	
								<strong>Description :</strong> {{ circuit.description }}<br>
								Départ de {{ circuit.villeDepart }} pour {{ circuit.dureeCircuit }} jours
								de voyage en {{ circuit.paysDepart }}, pour terminer à
								{{ circuit.villeArrivee }}.
							</p>
						</div>
					</div>
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h2 class="panel-title">Liste des étapes</h2>		
						</div>
						<div class="table-responsive">
							<table class="table table-striped table-condensed table-hover">
								<thead>
									<tr>
										<th>Nom de l'étape</th>
										<th>Durée du séjour</th>
									</tr>
								</thead>
								{% for etape in circuit.etapes %}
									<tr>
										<td>{{ etape.villeEtape }}</td>
										<td>{{ etape.nombreJours }}</td>
									</tr>
								{% endfor %}
							</table>
						</div>
					</div>
				</div>	
			</div>
			<br>
			<div class="row">
				<div class="col-lg-8">
					<div class="panel panel-primary">
						{% if circuit.programmations is not empty %}
							<div class="panel-heading">
								<h2 class="text-center panel-title">Programmations de ce circuit</h2>
							</div>
							<table class="table table-bordered table-condensed table-hover">
								<tr>
									<th>Date de départ</th>
									{% for programmation in circuit.programmations %}
										<td>{{ programmation.dateDepart|date('d/m/Y') }}</td>
									{% endfor %}
								</tr>
								<tr>
									<th>Nombre de personnes</th>
									{% for programmation in circuit.programmations %}
										<td>{{ programmation.nombrePersonnes }}</td>
									{% endfor %}
								</tr>
								<tr>
									<th>Prix</th>
									{% for programmation in circuit.programmations %}
										<td>{{ programmation.prix }}€</td>
									{% endfor %}
								</tr>
							</table>
						{% else %}
							<p>Désolé : pas encore de programmation pour ce circuit.</p>
						{% endif %}
					</div>
				</div>
			</div>
		{% endblock %} {# body #}

